<head>
  <meta charset="utf-8">

  <!-- Web to Case -->
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function timestamp() { var response = document.getElementById("g-recaptcha-response"); var captcha_settings = document.getElementsByName("captcha_settings"); if ((response == null || response.value.trim() == "") && captcha_settings[0]) { var elems = JSON.parse(captcha_settings[0].value); elems["ts"] = JSON.stringify(new Date().getTime()); captcha_settings[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
  </script>

  <!-- Form styles -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.use-site-title %}{{ site.title }} {{ site.title-separator | default: '-' }} {{ site.description }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}
  
  <meta name="description" content="{{ page.seo-description | default: page.subtitle | default: '' }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | default: 'Untitled' }} {{ site.title-separator | default: '-' }} {{ site.description }}" href="{{ '/feed.xml' | absolute_url }}">

  <link rel="shortcut icon" type="image/png" sizes="96x96" href="{{ 'assets/img/favicon.png' | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ 'assets/img/favicon.ico' | relative_url }}">

  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  <!-- Facebook OpenGraph tags -->
  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}">
  {% endif %}

  {% if page.meta-title %}
  <meta property="og:title" content="{{ page.meta-title }}">
  {% elsif page.title %}
  <meta property="og:title" content="{{ page.title }}">
  {% elsif site.title %}
  <meta property="og:title" content="{{ site.title }}">
  {% endif %}

   {% if page.meta-description %}
  <meta property="og:description" content="{{ page.meta-description }}">
  {% elsif page.seo-description || page.subtitle %}
  <meta property="og:description" content="{{ page.seo-description | default: page.subtitle }}">
  {% else %}
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}

  <meta property="og:type" content="website">

  {% if page.id %}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% else %}
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
  <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}">
  {% endif %}

  {% if page.share-img %}
  <meta property="og:image" content="{{ page.share-img }}">
  {% elsif site.avatar %}
  <meta property="og:image" content="{{ site.avatar | absolute_url }}">
  {% endif %}


  <!-- Twitter summary cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.social-network-links.twitter }}">
  <meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}">

  {% if page.meta-title %}
  <meta name="twitter:title" content="{{ page.meta-title }}">
  {% elsif page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}

  {% if page.meta-description %}
  <meta name="twitter:description" content="{{ page.meta-description }}">
  {% elsif page.seo-description || page.subtitle %}
  <meta name="twitter:description" content="{{ page.seo-description | default: page.subtitle }}">
  {% else %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}

  {% if page.share-img %}
  <meta name="twitter:image" content="{{ page.share-img }}">
  {% elsif site.avatar %}
  <meta name="twitter:image" content="{{ site.avatar | absolute_url }}">
  {% endif %}

  {% if site.matomo %}
  {% include matomo.html %}
  {% endif %}

  {% if page.comments and site.staticman.repository and site.staticman.branch %}
  <!-- Staticman -->
  <link rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}">
  {% endif %}

  <!-- Hotjar -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2565799,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

</head>
