<div id="mc_embed_signup">
	<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
		<input type=hidden name='captcha_settings' value='{"keyname":"ContactPageKey","fallback":"true","orgId":"00D2w000007PAtA","ts":""}'>
		<input type=hidden name="oid" value="00D2w000007PAtA">
		<input type=hidden name="retURL" value="https://aocollab.tech/self-assessment-form-submitted/">

		<div id="mc_embed_signup_scroll">
			<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
			<div class="mc-field-group">
				<label for="first_name">First Name <span class="asterisk">*</span></label>
				<input id="first_name" maxlength="40" name="first_name" size="20" type="text" />
			</div>

			<div class="mc-field-group">
				<label for="last_name">Last Name <span class="asterisk">*</span></label>
				<input id="last_name" maxlength="80" name="last_name" size="20" type="text" />
			</div>

			<div class="mc-field-group">
				<label for="email">Email <span class="asterisk">*</span></label>
				<input id="email" maxlength="80" name="email" size="20" type="text" />
			</div>

			<div class="mc-field-group">
				<label for="url">Website <span class="asterisk">*</span></label>
				<input id="url" maxlength="80" name="url" size="20" type="text" />
			</div>

			<div class="mc-field-group">
				<label for="company">Company</label>
				<input id="company" maxlength="40" name="company" size="20"
					type="text" />
			</div>

			<div class="mc-field-group">
				<label for="city">City</label>
				<input id="city" maxlength="40" name="city" size="20" type="text" />
			</div>

			<div class="g-recaptcha" data-sitekey="6LcVXSsaAAAAAJLsAXEjmr1vvxy8xUyQzgwE9Wqm"></div>
			<div class="clear">
				<input type="submit" value="Submit" name="submit" class="button">
			</div>

		</div>
	</form>
</div>
