<div id="mc_embed_signup">
	<form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="post">
		<input type=hidden name='captcha_settings' value='{"keyname":"ContactPageKey","fallback":"true","orgId":"00D2w000007PAtA","ts":""}'>
		<input type=hidden name="orgid" value="00D2w000007PAtA">
		<input type=hidden name="retURL" value="{{ page.url  | absolute_url }}">

		<!--  ----------------------------------------------------------------------  -->
		<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
		<!--  these lines if you wish to test in debug mode.                          -->
		<!--  <input type="hidden" name="debug" value=1>                              -->
		<!--  <input type="hidden" name="debugEmail" value="serena@aocollab.tech">    -->
		<!--  ----------------------------------------------------------------------  -->

		<div id="mc_embed_signup_scroll">
			<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
			<div class="mc-field-group">
				<label for="name">
					Contact Name <span class="asterisk">*</span>
				</label>
				<input type="text" value="" name="name" class="required" id="name" size="20" maxlength="80" />
			</div>
			<div class="mc-field-group">
				<label for="email">
					Email <span class="asterisk">*</span>
				</label>
				<input type="email" value="" name="email" class="required email" id="email" size="20" maxlength="80" />
			</div>
			<div class="mc-field-group">
				<label for="subject">
					Subject <span class="asterisk">*</span>
				</label>
				<input type="subject" value="" name="subject" class="required" id="subject" size="20" maxlength="80" />
			</div>
			<div class="mc-field-group">
				<label for="description">
					Description <span class="asterisk">*</span>
				</label>
				<textarea type="description" value="" name="description" class="required" id="description" rows="3" style="width: 100%;"></textarea>
			</div>
			<div class="g-recaptcha" data-sitekey="6LcVXSsaAAAAAJLsAXEjmr1vvxy8xUyQzgwE9Wqm"></div>
			<div class="clear">
				<input type="submit" value="Submit" name="submit" class="button">
			</div>
		</div>
	</form>
</div>
